//Color
$color-black: #000;
$color-white: #fff;
$color-main: #FF3467;
$color-main-second: #666666;

$color-background-lite: #FFF8F5;
$color-background1: #FFCDB8;
$color-background2: #FFECE4;

$color-background-dark1: #FFBBA9;
$color-background-dark1: #FF6236;


$font-dark: #242851;





//font
$default-font-size: 1.6rem;